.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: gray;
}

.logo {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 4 em;
  margin-bottom: 100px;
}

.search_box {
  border: teal solid 3px;
  border-radius: 3px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.small_card {
  background-color: teal;
}

.card_list {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  list-style-type: none;
  width: 300px;
}

.button {
  margin-bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.small_card_species {
  font-size: smaller;
}

.big_card {
  background-color: teal;
}

.big_card_list {
  list-style-type: none;
}

.big_card_name {
  font-size: large;
}
